#content{
    display: block;
	width: 888px;
    margin: 0 auto;
    background-color: bisque;
    border-radius: 10px;
    padding: 40px;
}
#balkep{
    height: 350px;
    border-radius: 10%;
}
#jobbkep{
    height: min-content;
    width: min-content;
    border-radius: 10%;
    height: 375px;
}
#imageright{
	float: right;
    margin-left: 20px;
    padding-bottom: 50px;
    padding-top: 1px;
    border: forestgreen 2px solid;
    border-radius: 10%;
    height: 375px;
}
#imageleft{
	float: left;
    border: forestgreen 2px solid;
    border-radius: 10%;
    margin-right: 40px;
    padding-top: 1px;
    margin-bottom: 80px;
}
.kepszoveg{
	font-weight: bold;
    font-style: italic;
    text-align: center;
}
#forma{
    font-weight: bolder;
    font-style: italic;
}
h1{
    color: forestgreen;
    font-style: unset;
    text-transform: uppercase;
}
h2{
    color: forestgreen;
    font-style: unset;
    text-transform: uppercase;
}
a{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: blue;
}
a:hover{
    color: red;
}
body{
    background-color: forestgreen;
    margin: 8px;
}
p{
    text-indent: 20px;
}
ul:last-child{
    margin-bottom: 20px;
}
li{
    text-align: justify;
}
ul{
    list-style-type: square;
}
#imageleft2{
    display: none;
    float: none;
}
#imageright2{
    display: none;
    float: none;
}